nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #f3f3f3;
    margin-left: 2rem;
    padding: 20px;
    z-index: 999;
}

input{
    padding: 12px 20px;
    border: none;
    outline: none;
    background-color: #f7f6f6;
    border-radius: 5px;
    margin-right: 20px;
    position: relative;
    width: 14rem;
}

.nav-icons{
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 2rem;
    color: #494949;
}